# Goals
+ summaries
+ number of and backfills per user
+ number of wont_process
+ how many language changers

`ssh -N dmca@cox.media.mit.edu -L 3308:cox.media.mit.edu:3306`

In [3]:
import sys
sys.path.append('/home/paprika/workspace/CivilServant-twitter/')
from utils.common import DbEngine
import os
import inspect
from app.models import TwitterStatus, TwitterFill, TwitterUser
import json
from sqlalchemy.sql.expression import func as sqlfunc
import datetime

BASE_DIR = os.path.join(os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe()))), "..")
ENV = 'production'
db_session = DbEngine(os.path.join(BASE_DIR, "config") + "/{env}.json".format(env=ENV)).new_session()

import pandas as pd
from sqlalchemy import create_engine
constr= 'mysql://civilservant@0.0.0.0:3308/civilservant_production'
con = create_engine(constr)
# con.execute('show tables;').fetchall()

In [4]:
should_be_filled = pd.read_sql("select * from twitter_users where user_rand <=0.5 and lang in ('en', 'en-gb', 'en-GB')", con)

In [37]:
should_be_filled['id'] = should_be_filled['id'].apply(int)

In [7]:
fill_records = pd.read_sql("select * from twitter_fills", con)

In [45]:
fill_records_users = pd.DataFrame(fill_records.groupby('user_id').size()).reset_index().rename_axis({0:"num_fills"},axis=1)

/home/paprika/workspace/py-flask/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Using 'rename_axis' to alter labels is deprecated. Use '.rename' instead
  """Entry point for launching an IPython kernel.

In [50]:
user_fills = pd.merge(should_be_filled, fill_records_users, how='outer', left_on='id', right_on='user_id')

In [101]:
complete_user_cands = user_fills[(pd.notnull(user_fills['id'])) & (pd.notnull(user_fills['user_id']))]

In [103]:
complete_user_cands.shape

(16370, 12)

In [108]:
complete_user_cands_enough_fills = complete_user_cands[complete_user_cands['num_fills'] >= 22]

In [110]:
complete_user_cands_enough_fills.shape

(16341, 12)

In [111]:
complete_user_cands[complete_user_cands['num_fills'] <22].shape

(29, 12)

In [105]:
complete_user_cands_enough_fills.shape

(16146, 12)

In [113]:
complete_user_cands_enough_fills['num_fills'].value_counts()

23.0    8538
24.0    7608
22.0     195
Name: num_fills, dtype: int64

In [76]:
#who had fills which aren't in should fill
sample_mystery_filled = list(user_fills[pd.isnull(user_fills['id'])]['user_id'].apply(int).values)
sample_mystery_filled_str = [str(x) for x in sample_mystery_filled]

In [77]:
mystery_filled = pd.read_sql(f"select * from twitter_users where id in ({','.join(sample_mystery_filled_str)}) ", con)

/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_00900ll_1549959062589'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_00moonmm_1550002438319'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_01010109?protected_redirect=tr..._1549418634754'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_01dtlz_1549115991045'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0205_dance_1549397006851'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0226arashic_1549353742920'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_031nuttynice_1547818936617'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0721natsumi1021_1548132346322'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_07mj11_1549742930111'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_07uzuki20?protected_redirect=t..._1550099737549'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_08060516_aiiii_1548770096427'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0829yudai_1549991673717'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0gaga_kris6_1548153978473'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0g_mas_1549991628921'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0jitter_bug0_1550121314047'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0stanislav__1548208036684'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0utofthewoodss_1550002451868'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_0_1itanimulli_1550013210344'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1013_bts__jimin_1547233088130'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_10john05_1548478238966'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1244mami_1548856600463'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_130zzxxcc_1547829731647'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_13_artists_why_1549829347052'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_15sosdsae__1549407961194'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_170kg_pigwoman_1550077990341'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_17sbabe_1549483498993'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1991_esposito_1547667635823'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1998raph_1547732453900'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1999annv_1548326947129'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1999exo0417_1550077989170'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1999jolie_1547233113704'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1999redcorvette_1549029541481'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1baker9_1547494685682'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1bubbs3_1547548691003'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1cj0gjh8pty5fr3_1549537546580'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1d8s3?protected_redirect=true_1549526747396'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1dgpsofficial_1549342962267'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1d__mysweet_1550121292009'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1goma2goma3goma_1549959071741'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1kanebrownfan_1547624361725'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1o17jayy_1548153980391'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1p_cc_1549559103923'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1qwelh_1548208039103'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_1scorpinov_1549991660094'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_22xmonster_1550132007639'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_23nova_?protected_redirect=tru..._1550121312536'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_24335kao_1548348531825'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_25greeeen2_1548856594832'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_28moh82?protected_redirect=tru..._1548835006273'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_2bu5aled_1549407972144'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_2l7dxjpplrsfx4g_1547559528084'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_2nite_xo_1549407970346'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_2_7_k_1550013204489'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_2_tailz_1550121277907'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_30secondeuropop_1549688890095'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_327fq_1550132006493'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_3333dii_1548932224458'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_365days_hello_1548824111084'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_36708b5412ec424_1547581158951'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_383_yo__1547645979957'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_38ryannt_1549623996721'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_3almalkoora8_1549483502280'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_3boosh123_1549840168707'")
  cursor.execute(statement, parameters)
/home/paprika/workspace/py-flask/lib/python3.6/site-packages/sqlalchemy/engine/default.py:508: Warning: (1292, "Truncated incorrect DOUBLE value: '<NOT_FOUND>_3cbeats_1549429402277'")
  cursor.execute(statement, parameters)

In [112]:
mystery_filled.shape #these users all have different languages now

(81, 10)

In [81]:
mystery_unfilled  = user_fills[pd.isnull(user_fills['user_id'])]

In [83]:
mystery_unfilled.shape

(278, 12)

In [87]:
mystery_unfilled.head()

,id,not_found_id,screen_name,created_at,record_created_at,lang,user_state,CS_oldest_tweets_archived,last_attempted_process,user_rand,user_id,num_fills
22,1.000721e+18,None,king3prince352,2018-05-27 12:50:04,2019-02-14 14:14:13,en,1.0,1.0,2019-02-14 14:14:13,0.447045,NaN,NaN
109,1.004758e+18,None,saranvikaash2,2018-06-07 16:11:32,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.116588,NaN,NaN
116,1.004938e+18,None,tfc_off,2018-06-08 04:07:57,2019-01-11 18:55:49,en,1.0,2.0,2019-01-11 18:59:15,0.347281,NaN,NaN
247,1.009778e+18,<NOT_FOUND>_vmramkumar2_1551988407202,vmramkumar2,2018-06-21 12:38:39,2019-02-14 17:14:47,en,2.0,1.0,2019-02-14 17:14:47,0.037664,NaN,NaN
252,1.009929e+18,None,kp_six_293,2018-06-21 22:41:59,2019-02-14 11:13:19,en,1.0,1.0,2019-02-14 11:13:19,0.484708,NaN,NaN

In [92]:
mystery_unfilled['record_created_at'].apply(lambda ts: ts.date()).value_counts() #intersting that occured on two days

2019-02-14    224
2019-01-11     54
Name: record_created_at, dtype: int64

In [115]:
mystery_unfilled[mystery_unfilled['user_state']==1]

,id,not_found_id,screen_name,created_at,record_created_at,lang,user_state,CS_oldest_tweets_archived,last_attempted_process,user_rand,user_id,num_fills
22,1.000721e+18,None,king3prince352,2018-05-27 12:50:04,2019-02-14 14:14:13,en,1.0,1.0,2019-02-14 14:14:13,0.447045,NaN,NaN
109,1.004758e+18,None,saranvikaash2,2018-06-07 16:11:32,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.116588,NaN,NaN
116,1.004938e+18,None,tfc_off,2018-06-08 04:07:57,2019-01-11 18:55:49,en,1.0,2.0,2019-01-11 18:59:15,0.347281,NaN,NaN
252,1.009929e+18,None,kp_six_293,2018-06-21 22:41:59,2019-02-14 11:13:19,en,1.0,1.0,2019-02-14 11:13:19,0.484708,NaN,NaN
272,1.010537e+09,None,itslarisf,2012-12-14 06:34:39,2019-02-14 08:13:08,en,1.0,1.0,2019-02-14 08:13:08,0.096393,NaN,NaN
276,1.010776e+18,None,samthejamyo,2018-06-24 06:46:51,2019-02-14 17:14:47,en,1.0,1.0,2019-02-14 17:14:47,0.486690,NaN,NaN
318,1.012276e+18,None,movingirwins,2018-06-28 10:07:05,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.089458,NaN,NaN
355,1.013793e+18,None,shoh__kp,2018-07-02 14:34:42,2019-02-14 14:14:13,en,1.0,1.0,2019-02-14 14:14:13,0.379994,NaN,NaN
439,1.016940e+18,None,yyalkz,2018-07-11 06:57:34,2019-02-14 14:14:10,en,1.0,1.0,2019-02-14 14:14:10,0.117191,NaN,NaN
688,1.026455e+18,None,michieda_aya,2018-08-06 13:10:21,2019-02-14 14:14:11,en,1.0,1.0,2019-02-14 14:14:11,0.364396,NaN,NaN
716,1.027504e+18,None,sonusha52529998,2018-08-09 10:36:29,2019-02-14 17:14:47,en,1.0,1.0,2019-02-14 17:14:47,0.469065,NaN,NaN
734,1.028311e+18,None,jason_leal16,2018-08-11 16:05:32,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.406665,NaN,NaN
882,1.034379e+08,None,k1rk69,2010-01-10 01:08:09,2019-02-14 08:13:08,en,1.0,1.0,2019-02-14 08:13:08,0.480976,NaN,NaN
889,1.034945e+09,None,brittttlyon,2012-12-25 14:50:31,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.330158,NaN,NaN
1123,1.044797e+18,None,yasmeen74180184,2018-09-26 03:52:37,2019-02-14 17:14:52,en,1.0,1.0,2019-02-14 17:14:52,0.156612,NaN,NaN
1133,1.045257e+18,None,rakulpreetfc_10,2018-09-27 10:21:02,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.076495,NaN,NaN
1213,1.048741e+09,None,hayleyychandler,2012-12-30 20:23:24,2019-02-14 08:13:09,en,1.0,1.0,2019-02-14 08:13:09,0.312503,NaN,NaN
1223,1.049140e+18,None,ntranteypichhi,2018-10-08 03:30:35,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.232001,NaN,NaN
1262,1.050721e+18,None,anandnandu999,2018-10-12 12:13:51,2019-02-14 14:14:12,en,1.0,1.0,2019-02-14 14:14:12,0.154438,NaN,NaN
1411,1.055296e+18,None,iharisakthi_,2018-10-25 03:11:52,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.451444,NaN,NaN
1471,1.056942e+18,None,sasitha49169099,2018-10-29 16:14:49,2019-01-11 18:55:53,en,1.0,2.0,2019-01-11 18:59:15,0.351245,NaN,NaN
1588,1.060391e+18,None,editslibin,2018-11-08 04:38:58,2019-02-14 14:14:10,en,1.0,1.0,2019-02-14 14:14:10,0.460377,NaN,NaN
1590,1.060412e+18,None,nishavfc,2018-11-08 06:03:05,2019-01-11 18:56:01,en,1.0,2.0,2019-01-11 18:59:15,0.404630,NaN,NaN
1603,1.060586e+18,None,santhuoffl,2018-11-08 17:31:08,2019-01-11 18:55:50,en,1.0,2.0,2019-01-11 18:59:15,0.137992,NaN,NaN
1607,1.060641e+18,None,yaivelle,2018-11-08 21:13:33,2019-01-11 18:55:55,en,1.0,2.0,2019-01-11 18:59:15,0.131699,NaN,NaN
2007,1.072082e+18,None,naniwa______ok,2018-12-10 10:54:32,2019-02-14 14:14:12,en,1.0,1.0,2019-02-14 14:14:12,0.113851,NaN,NaN
2021,1.072787e+18,None,ninja2020_,2018-12-12 09:36:51,2019-02-14 14:14:11,en,1.0,1.0,2019-02-14 14:14:11,0.300609,NaN,NaN
2045,1.073321e+18,None,sowhatboya,2018-12-13 20:55:32,2019-01-11 18:55:57,en,1.0,2.0,2019-01-11 18:59:15,0.064703,NaN,NaN
2099,1.074598e+18,None,nanthinioffical,2018-12-17 09:29:52,2019-02-14 14:14:10,en,1.0,1.0,2019-02-14 14:14:10,0.023110,NaN,NaN
2301,1.079729e+18,None,1dott3,2018-12-31 13:18:39,2019-01-11 18:55:57,en,1.0,2.0,2019-01-11 18:59:15,0.062495,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14304,8.494336e+07,None,lucieeverity,2009-10-24 21:33:10,2019-02-14 08:13:12,en,1.0,1.0,2019-02-14 08:13:12,0.043008,NaN,NaN
14370,8.562510e+17,None,waanderlusst,2017-04-23 20:58:46,2019-02-14 17:14:51,en,1.0,1.0,2019-02-14 17:14:51,0.097205,NaN,NaN
14383,8.578108e+17,None,shuaib64979608,2017-04-28 04:16:37,2019-01-11 18:56:01,en,1.0,2.0,2019-01-11 18:59:15,0.320781,NaN,NaN
14620,8.741099e+17,None,ratxhetz,2017-06-12 03:43:41,2019-02-14 17:14:55,en,1.0,1.0,2019-02-14 17:14:55,0.260612,NaN,NaN
14667,8.772602e+17,None,inimitablearts,2017-06-20 20:21:53,2019-01-11 18:55:52,en,1.0,2.0,2019-01-11 18:59:15,0.316613,NaN,NaN
14772,8.849808e+17,None,brittbearmua,2017-07-12 03:40:34,2019-02-14 17:14:47,en,1.0,1.0,2019-02-14 17:14:47,0.368819,NaN,NaN
14784,8.855415e+17,None,krishna48069393,2017-07-13 16:48:52,2019-01-11 18:56:00,en,1.0,2.0,2019-01-11 18:59:15,0.084215,NaN,NaN
14920,8.936912e+08,None,abrianaawhite,2012-10-20 17:38:31,2019-02-14 08:13:07,en,1.0,1.0,2019-02-14 08:13:07,0.067116,NaN,NaN
14961,8.956578e+17,None,ameeshahamed,2017-08-10 14:47:12,2019-01-11 18:55:58,en,1.0,2.0,2019-01-11 18:59:15,0.296250,NaN,NaN
15061,9.007341e+17,None,illuminatewdw,2017-08-24 14:58:35,2019-02-14 08:13:14,en,1.0,1.0,2019-02-14 08:13:14,0.205326,NaN,NaN
15209,9.107607e+08,None,marie_alvarez29,2012-10-28 17:36:08,2019-02-14 17:14:50,en,1.0,1.0,2019-02-14 17:14:50,0.169447,NaN,NaN
15227,9.122273e+17,None,iibrachu,2017-09-25 08:08:33,2019-02-14 08:13:07,en,1.0,1.0,2019-02-14 08:13:07,0.196728,NaN,NaN
15417,9.250636e+17,None,conniexspinosa,2017-10-30 18:15:19,2019-01-11 18:55:58,en,1.0,2.0,2019-01-11 18:59:15,0.287486,NaN,NaN
15456,9.272566e+17,None,aestheticaly_me,2017-11-05 19:29:43,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.384002,NaN,NaN
15643,9.399361e+17,None,scarredweeb,2017-12-10 19:13:33,2019-02-14 17:14:48,en,1.0,1.0,2019-02-14 17:14:48,0.276382,NaN,NaN
15762,9.487091e+17,None,mo_ba6,2018-01-04 00:14:17,2019-02-14 17:14:46,en,1.0,1.0,2019-02-14 17:14:46,0.126411,NaN,NaN
15772,9.491636e+17,None,jhaymee8,2018-01-05 06:20:04,2019-02-14 08:13:14,en,1.0,1.0,2019-02-14 08:13:14,0.364309,NaN,NaN
15779,9.497305e+17,None,just_vamshi,2018-01-06 19:53:02,2019-01-11 18:55:50,en,1.0,2.0,2019-01-11 18:59:15,0.310727,NaN,NaN
15833,9.527134e+17,None,movietime24x7,2018-01-15 01:25:55,2019-01-11 18:55:58,en,1.0,2.0,2019-01-11 18:59:15,0.403430,NaN,NaN
16101,9.693521e+17,None,id6lls,2018-03-01 23:21:56,2019-02-14 17:14:48,en,1.0,1.0,2019-02-14 17:14:48,0.138714,NaN,NaN
16168,9.729692e+17,None,klcroline,2018-03-11 22:55:14,2019-02-14 17:14:55,en,1.0,1.0,2019-02-14 17:14:55,0.398556,NaN,NaN
16200,9.756704e+08,None,sulianafonofehi,2012-11-28 08:41:50,2019-02-14 08:13:06,en,1.0,1.0,2019-02-14 08:13:06,0.258526,NaN,NaN
16282,9.798986e+17,None,youquerbaby,2018-03-31 01:50:12,2019-02-14 17:14:47,en,1.0,1.0,2019-02-14 17:14:47,0.118254,NaN,NaN
16283,9.798989e+17,None,aaliyahjanell,2018-03-31 01:51:26,2019-01-11 18:55:51,en,1.0,2.0,2019-01-11 18:59:15,0.117534,NaN,NaN
16312,9.822648e+17,None,sportvision_,2018-04-06 14:32:38,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.438239,NaN,NaN
16313,9.822750e+17,None,massmani3333,2018-04-06 15:13:09,2019-02-14 14:14:10,en,1.0,1.0,2019-02-14 14:14:10,0.331496,NaN,NaN
16361,9.852701e+17,None,islaphavx,2018-04-14 21:34:35,2019-01-11 18:55:51,en,1.0,2.0,2019-01-11 18:59:15,0.344640,NaN,NaN
16392,9.862534e+17,None,marvin36200617,2018-04-17 14:41:50,2019-01-11 18:56:04,en,1.0,2.0,2019-01-11 18:59:16,0.155409,NaN,NaN
16457,9.908752e+06,None,rviddy,2007-11-03 06:31:06,2019-02-14 08:13:08,en,1.0,1.0,2019-02-14 08:13:08,0.348572,NaN,NaN
16475,9.917771e+17,None,taekookvocal,2018-05-02 20:30:51,2019-02-14 17:14:48,en,1.0,1.0,2019-02-14 17:14:48,0.325590,NaN,NaN

In [95]:
mystery_unfilled['user_state'].value_counts()

1.0    263
3.0      7
4.0      5
2.0      3
Name: user_state, dtype: int64

In [98]:
mystery_unfilled[mystery_unfilled['user_state']!=1].sort_values('user_state') #4 is wont process, the other have not_found ids

,id,not_found_id,screen_name,created_at,record_created_at,lang,user_state,CS_oldest_tweets_archived,last_attempted_process,user_rand,user_id,num_fills
247,1.009778e+18,<NOT_FOUND>_vmramkumar2_1551988407202,vmramkumar2,2018-06-21 12:38:39,2019-02-14 17:14:47,en,2.0,1.0,2019-02-14 17:14:47,0.037664,NaN,NaN
2852,1.093075e+18,<NOT_FOUND>__cameo_rk_1550433114537,_cameo_rk,2019-02-06 09:14:38,2019-02-14 14:14:11,en,2.0,1.0,2019-02-14 14:14:11,0.213607,NaN,NaN
14958,8.955346e+17,<NOT_FOUND>_muskaan15__1551124306881,muskaan15_,2017-08-10 06:37:33,2019-02-14 17:14:48,en,2.0,1.0,2019-02-14 17:14:48,0.090239,NaN,NaN
1847,1.067934e+18,<NOT_FOUND>_tamilrockers_01_1547494461960,tamilrockers_01,2018-11-29 00:11:45,2019-01-11 18:55:58,en,3.0,2.0,2019-01-11 18:59:15,0.041074,NaN,NaN
3351,1.307436e+09,<NOT_FOUND>_traceylife_1551729254111,traceylife,2013-03-27 12:58:36,2019-02-14 08:13:07,en,3.0,1.0,2019-02-14 08:13:07,0.137036,NaN,NaN
3748,1.469993e+08,<NOT_FOUND>_rickthesizz1er_1550519488314,rickthesizz1er,2010-05-22 23:21:43,2019-02-14 08:13:14,en,3.0,1.0,2019-02-14 08:13:14,0.048442,NaN,NaN
6616,2.657943e+07,<NOT_FOUND>_djdonnied_1550519526685,djdonnied,2009-03-25 20:12:16,2019-02-14 08:13:08,en,3.0,1.0,2019-02-14 08:13:08,0.027175,NaN,NaN
8501,3.219255e+09,<NOT_FOUND>_loveumovies_1548790812012,loveumovies,2015-05-18 10:50:46,2019-01-11 18:55:51,en,3.0,2.0,2019-01-11 18:59:15,0.496116,NaN,NaN
9632,3.760950e+08,<NOT_FOUND>_prim_primmie_1551210895369,prim_primmie,2011-09-19 09:09:09,2019-02-14 14:14:11,en,3.0,1.0,2019-02-14 14:14:11,0.268401,NaN,NaN
12142,7.087539e+17,<NOT_FOUND>_arabiciggy_1550260335380,arabiciggy,2016-03-12 20:37:58,2019-02-14 17:14:55,en,3.0,1.0,2019-02-14 17:14:55,0.221282,NaN,NaN
2893,1.094552e+18,None,rkvgajinfna0m5u,2019-02-10 11:02:16,2019-02-14 14:14:13,en,4.0,1.0,2019-02-14 14:14:13,0.235414,NaN,NaN
3633,1.416038e+09,None,shadescools,2013-05-09 17:16:29,2019-02-14 17:14:53,en,4.0,1.0,2019-02-14 17:14:53,0.320844,NaN,NaN
7059,2.791191e+09,None,geckovo,2014-09-29 10:47:21,2019-02-14 17:14:50,en,4.0,1.0,2019-02-14 17:14:50,0.473073,NaN,NaN
11003,4.853050e+09,None,bts_ggtt0316,2016-01-27 09:22:25,2019-02-14 14:14:11,en,4.0,1.0,2019-02-14 14:14:11,0.246455,NaN,NaN
16243,9.776882e+08,None,piiyyaaaa,2012-11-29 05:53:25,2019-01-11 18:55:59,en,4.0,2.0,2019-01-11 18:59:15,0.132669,NaN,NaN